@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: #fbfbfb;
  -webkit-font-smoothing: antialiased;
}

#story-root {
  padding: 32px 0;
  text-align: center;
  border: 1px solid #eaeaea;
}

pre {
  border-radius: 8px;
  overflow-x: auto !important;
}

table {
  border-collapse: collapse;
  margin-top: 20px;
}

table th {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
  font-weight: bold;
  text-align: center;
}

table td {
  border: 1px solid #dfe2e5;
  padding: 6px 13px;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
